# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/
.DS_Store

# Docker
__docker__build/
*.pid
*.log
*.sock
